/* Estilo de la tabla */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    background-color: #ffffff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table thead {
    color: white;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 1rem;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .custom-table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .table-header {
    font-weight: bold;
    font-size: 1rem;
  }
  
  /* Ajuste de las celdas para evitar que el contenido esté al borde */
  .custom-table td {
    padding-left: 1rem;
  }
  
  /* Opcional: Hover para las filas */
  .custom-table tbody tr:hover {
    background-color: #f1f5f9;
  }

  .table-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  
    .page-size-selector {
      display: flex;
      align-items: center;
  
      label {
        margin-right: 5px;
      }
  
      select {
        padding: 5px;
        border: 1px solid #dee2e6;
        border-radius: 4px;
      }
    }
  }
  