.text-white {
    color: #ffffff !important; /* Color blanco */
  }
  
  .border-white {
    border-color: #ffffff !important; /* Borde blanco */
  }
  
  .footer-container {
    padding: 0; /* Elimina el padding del contenedor */
  }
  
  .footer {
    margin: 0; /* Elimina los márgenes del footer */
  }