<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Cambiar Contraseña</h2>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="password" class="form-label">Nueva Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Ingrese la nueva contraseña" />
              </div>
              <div class="mb-3">
                <label for="validPassword" class="form-label">Confirmar Contraseña</label>
                <input type="password" id="validPassword" formControlName="validPassword" class="form-control" placeholder="Confirme la nueva contraseña" />
              </div>
              <div class="mb-3">
                <label for="code" class="form-label">Código</label>
                <input type="text" id="code" formControlName="code" class="form-control" placeholder="Ingrese el código" />
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                  {{ isLoading ? 'Procesando...' : 'Cambiar Contraseña' }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>