<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Cambiar Contraseña</h2>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="password" class="form-label">Nueva Contraseña</label>
              <input type="password" id="password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid': changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched}"
                placeholder="Ingrese la nueva contraseña" />
              <div *ngIf="changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched"
                class="invalid-feedback">
                La contraseña debe tener al menos 8 dígitos, una mayúscula, una minúscula y un número
              </div>
            </div>
            <div class="mb-3">
              <label for="validPassword" class="form-label">Confirmar Contraseña</label>
              <input type="password" id="validPassword" formControlName="validPassword" class="form-control" [ngClass]="{
                  'is-invalid':
                    (changePasswordForm.get('validPassword')?.invalid && changePasswordForm.get('validPassword')?.touched) ||
                    changePasswordForm.errors?.['passwordsMismatch']
                }" placeholder="Confirme la nueva contraseña" />
              <div
                *ngIf="changePasswordForm.get('validPassword')?.invalid && changePasswordForm.get('validPassword')?.touched"
                class="invalid-feedback">
                La confirmación de la contraseña es requerida.
              </div>
              <div *ngIf="changePasswordForm.errors?.['passwordsMismatch']" class="invalid-feedback">
                Las contraseñas no coinciden.
              </div>
            </div>
            <div class="mb-3">
              <label for="code" class="form-label">Código</label>
              <input type="text" id="code" formControlName="code" class="form-control"
                [ngClass]="{'is-invalid': changePasswordForm.get('code')?.invalid && changePasswordForm.get('code')?.touched}"
                placeholder="Ingrese el código" />
              <div *ngIf="changePasswordForm.get('code')?.invalid && changePasswordForm.get('code')?.touched"
                class="invalid-feedback">
                El código es requerido y debe tener 5 dígitos
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                {{ isLoading ? 'Procesando...' : 'Cambiar Contraseña' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>