<div class="mt-16 flex flex-col gap-14">
    <div class="flex flex-col gap-5">
        <h2 class="font-bold text-2xl text-center">Nuestros profesionales</h2>
        <p class="text-center text-sm w-5/6 mx-auto">Somos un grupo de profesionales altamente capacitados y experimentados. Contamos con más de 20 años de trayectoria profesional en el sector</p>
    </div>
    <div class="flex flex-col items-center gap-20 justify-center
                lg:flex lg:flex-row lg:gap-10
                mb-20">
        @for (card of cards; track $index) {
        <div class="flex flex-col items-center justify-center">
            <img src="{{card.img}}" alt="">
            <div class="text-center">
                <h3 class="font-bold">{{card.title}}</h3>
                <p class="text-xs w-80 text-justify">{{card.description}}</p>
            </div>
        </div>
    }
    </div>
</div>