<div class="table-controls">
    <div class="page-size-selector">
        <label for="pageSize">Items por página:</label>
        <select id="pageSize" (change)="onPageSizeChange($event)">
            @for (size of [5, 10, 20, 50]; track $index) {
            <option [value]="size" [selected]="size === pageSize">{{ size }}</option>
            }
        </select>
    </div>
</div>
<table class="table custom-table">
    <thead>
        <tr class="table-header">
            @for (column of columns; track $index) {
            <th scope="col">{{column.label }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of data; track $index) {
        <tr scope="row">
            @for (column of columns; track $index) {
            <td>
                @if (column.key !== 'actions') {
                {{ column.key === 'status' ? transformStatus(row[column.key]) : getValue(row, column.key) || 'N/A' }}

                } @else {
                @if (userRole === 'ROLE_ADMIN') {
                <button type="button" class="btn btn-warning btn-sm me-2" (click)="onEdit(row)">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash" (click)="onDelete(row)"></i>
                </button>
                } @else {
                <button type="button" class="btn btn-primary btn-sm" (click)="onEdit(row)">
                    <i class="fas fa-calendar-plus"></i> Reservar
                </button>
                }
                }
            </td>
            }
        </tr>
        }
        <tr>
    </tbody>
</table>