.custom-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.custom-table caption {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.custom-table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.custom-table th,
.custom-table td {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.custom-table thead th {
  text-transform: uppercase;
  background-color: #ddd;
}

.custom-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-table tbody td:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 601px) {
  .custom-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .custom-table th,
  .custom-table td {
    max-width: 150px;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 600px) {
  .custom-table {
    border: 0px;
  }

  .custom-table caption {
    font-size: 22px;
  }

  .custom-table thead {
    display: none;
  }

  .custom-table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }

  .custom-table th,
  .custom-table td {
    font-size: 12px;
  }

  .custom-table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }

  .custom-table td:last-child {
    border-bottom: 0px;
  }

  .custom-table td::before {
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    content: attr(data-label);
  }
}