<div class="home-img-container">
    <img src="img_home/home.jpg" alt="" class="">
    <div class="absolute position-text top-40 
                sm:left-20 sm:top-24
                lg:top-48
                2xl:top-60">
        <div class="text-center text-xs 
                    sm:text-md sm:w-80 sm:text-justify
                    md:text-lg md:w-2/5
                    lg:text-xl lg:w-3/6
                    2xl:text-4xl">
            <h1 class="font-bold">Tu clinica de confianza</h1>
            <p>Máxima precisión en tus análisis, sean de rutina o de alta complejidad, gracias a nuestros profesionales y nuestros equipos de última generación con reconocimiento a nivel mundial.</p>
        </div>
    </div>
</div>

<!-- <div class="home-img-container"></div>
    <img src="img_home/home.jpg" alt="" class="">
    <div class="relative w-full mx-auto pt-32 
                sm:w-80 sm:pt-24 sm:ml-5
                md:ml-20 md:pt-36
                lg:pt-56 lg:w-96
                xl:w-2/4"
                >
        <div class="flex">
            <div class="text-black text-xs text-center 
                        sm:text-sm sm:text-justify
                        md:text-base
                        xl:text-2xl
                        z-10">
                <h1 class="font-bold">Tu clinica de confianza</h1>
                <p>Máxima precisión en tus análisis, sean de rutina o de alta complejidad, gracias a nuestros profesionales y nuestros equipos de última generación con reconocimiento a nivel mundial.</p>
            </div>
        </div>
    </div>
</div> -->