<div class="modal-body">
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="amount" class="form-label">Monto</label>
      <p class="form-control-plaintext">S/40.00</p>
    </div>
    <div class="mb-3">
      <label for="currency" class="form-label">Moneda</label>
      <p class="form-control-plaintext">{{ paymentForm.get('currency')?.value }}</p>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <p class="form-control-plaintext">{{ paymentForm.get('description')?.value }}</p>
    </div>
    <div class="mb-3">
      <label for="card" class="form-label">Información de la Tarjeta</label>
      <!-- Estilo consistente con los demás campos -->
      <div class="form-control p-2">
        <ngx-stripe-card
          [options]="cardOptions"
          [elementsOptions]="elementsOptions"
        ></ngx-stripe-card>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="paymentForm.invalid || isLoading"
      >
        {{ isLoading ? 'Procesando...' : 'Pagar' }}
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCanceled()"
        >
        <!-- (click)="cancelPayment(paymentIntentId)"
        [disabled]="!paymentIntentId || isLoading" -->
        Cancelar Pago
      </button>
    </div>
  </form>
</div>