<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="date">Fecha</label>
    <input 
      type="date" 
      id="date" 
      formControlName="date" 
      class="form-control" 
      [ngClass]="{'is-invalid': scheduleForm.get('date')?.invalid && scheduleForm.get('date')?.touched}">
    <div *ngIf="scheduleForm.get('date')?.invalid && scheduleForm.get('date')?.touched" class="invalid-feedback">
      Fecha es requerida
    </div>
  </div>
  <div class="form-group">
    <label for="hourStart">Hora de Inicio</label>
    <input 
      type="time" 
      id="hourStart" 
      formControlName="hourStart" 
      class="form-control" 
      [ngClass]="{'is-invalid': scheduleForm.get('hourStart')?.invalid && scheduleForm.get('hourStart')?.touched}">
    <div *ngIf="scheduleForm.get('hourStart')?.invalid && scheduleForm.get('hourStart')?.touched" class="invalid-feedback">
      Hora de inicio es requerida
    </div>
  </div>
  <div class="form-group">
    <label for="hourEnd">Hora de Fin</label>
    <input 
      type="time" 
      id="hourEnd" 
      formControlName="hourEnd" 
      class="form-control" 
      [ngClass]="{'is-invalid': scheduleForm.get('hourEnd')?.invalid && scheduleForm.get('hourEnd')?.touched}">
    <div *ngIf="scheduleForm.get('hourEnd')?.invalid && scheduleForm.get('hourEnd')?.touched" class="invalid-feedback">
      Hora de fin es requerida
    </div>
  </div>
  <div class="form-group">
    <label for="statusSchedule">Estado del Horario</label>
    <select 
      id="statusSchedule" 
      formControlName="statusSchedule" 
      class="form-control" 
      [ngClass]="{'is-invalid': scheduleForm.get('statusSchedule')?.invalid && scheduleForm.get('statusSchedule')?.touched}">
      <option [ngValue]="null">Seleccione un estado</option>
      <option [ngValue]="'LIBRE'">LIBRE</option>
      <option [ngValue]="'RESERVADO'">RESERVADO</option>
    </select>
    <div *ngIf="scheduleForm.get('statusSchedule')?.invalid && scheduleForm.get('statusSchedule')?.touched" class="invalid-feedback">
      Estado del horario es requerido
    </div>
  </div>
  <div class="form-group">
    <label for="doctorId">Doctor</label>
    <select 
      id="doctorId" 
      formControlName="doctorId" 
      class="form-control" 
      [ngClass]="{'is-invalid': scheduleForm.get('doctorId')?.invalid && scheduleForm.get('doctorId')?.touched}">
      <option [ngValue]="null">Seleccione un doctor</option>
      <option *ngFor="let user of usersFilter" [value]="user.id">
        {{ user.name + ' ' + user.lastname }}
      </option>
    </select>
    <div *ngIf="scheduleForm.get('doctorId')?.invalid && scheduleForm.get('doctorId')?.touched" class="invalid-feedback">
      Doctor es requerido
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Actualizar' : 'Registrar' }}</button>
</form>