<nav class="bg-white py-6 relative">
    <div class="container mx-auto flex px-5 xl:px-0">
        <div class="flex flex-grow">
            <img src="LogoS.png" alt="" class="w-12">
        </div>
        <div class="flex lg:hidden">
            <button (click)="showSliderEvent()">
                <img src="menu.png" alt="" class="w-10">
            </button>
        </div>
        <div class="lg:flex hidden flex-grow justify-between">
            <div class="flex lg-flex-row mb-8 lg:mb-0 text-center items-center">
                <a class="text-black lg:mr-7" [routerLink]="['/home']">Home</a>
                <a class="text-black lg:mr-7" href="">Nosotros</a>
            </div>
            <div class="flex lg:flex-row text-center">
                @if (login.isAuth) {
                    <button class="text-white bg-blue-500 border border-blue-500 rounded-md py-2.5 px-5 mx-3" 
                    (click)="handlerLogout()">
                        Cerrar sesion
                    </button>
                    <button class="mx-3" (click)="showSliderUserEvent()">
                        <img src="usuario.png" alt="" class="w-10">
                        @if(showSliderUser){
                            <div class="absolute top-8 right-16 bg-white w-40 mt-10 rounded-md shadow-md px-3 py-5">
                                <p>{{login.user.username}}</p>
                                <a class="block py-2 px-4 hover:bg-blue-500 hover:text-white transition duration-500 ease-out" [routerLink]="['/profile']">Perfil</a>
                                <a class="block py-2 px-4 hover:bg-blue-500 hover:text-white transition duration-500 ease-out" [routerLink]="['/profile']">Configuracion</a>
                            </div>
                        }
                    </button>
                }@else {
                    <a class="text-black border border-black py-2.5 px-5 rounded-md hover:bg-blue-500 hover:border-blue-500 hover:text-white transition duration-500 ease-out lg:mr-4"
                    [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar sesion</a>
                    <a class="text-white bg-green-500 border border-green-500 py-2.5 px-5 rounded-md hover:bg-green-600 green:border-blue-600 transition duration-500 ease-out"
                    [routerLink]="['/register']">Registrate</a>
                }
            </div>
        </div>
    </div>
</nav>
@if(showSlider){
    <slide-user/>
}